.toolbar {
    @media (min-width: 500px) {
        flex-wrap: wrap;
    }
    .grow {
        flex-grow: 1;
    }
    .publish-text {
        margin-left: 12px;
    }
    .playlist-duration {
        padding: 4px;
        border-radius: 12px;
        font-size: 10px;
        color: #FFFF;
        font-weight: 400;
        background-color:#4682B4;
        margin-left: 12px;
    }
    .playlist-name {
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
    }
    .publish {
        background-color: #4682B4;
        color: white;
    }
    .actions {
        min-width: 0;
        margin-right: 16px;
        padding: 0;
        background-color: #F5F5F5;
    }
}
